<div id="purchase"></div>
<h2 id="fb-fire-pixel">Purchase Your Very Own {{ site.product }}</h2>
<p>
	I was originally going to support purchasing of the <em>{{ site.product }}</em> directly through my main catalog but something about that just didn't feel right, too disconnected, too much work having to be done on your end, also not very <em>human</em>. And so, if you have read up to this point and are interested or ready to buy, just use the form below to send me a quick email. I'll follow-up with questions that will need answered, the color you'd like, and other options that can be discussed. Once those details are finalized I will send you an invoice through my Shopify site where you can submit payment (or you can mail a check if you still have some of those laying around). Once payment is received your order will go into my queue.
</p>
<p>I look forward to hearing from you!</p>
<p>~ Aaron</p>
<script data-letterbirduser="amaiken" src="https://letterbird.co/embed/v1.js"></script>